@charset "utf-8";
@import 'index';
@import 'variables';

body {
  text-align: center;
  font-family: $font-copy-stack;
  font-size: 16px;

  // > section:first-of-type { padding-top: $nav-height; }
}

h1 {
  color: rgba(0,0,0,0.5);
  font-size: 1.8em;
  font-weight: bold;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-header-stack
}

.navbar {
  border: 0px;
  margin-bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.navbar-brand {
  height: $nav-height;

  img { height: 100%; }
}

.subtext {
  font-size: 0.7em;
  line-height: 1.5em;
}
