---
title: Daily Yoga // Yogadose
---

<section class="intro">
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
      <div class="signup">
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-9">
            <h1>Daily Dose of Yoga</h1>
            <p class="subtext">
              We're still working on making this the best daily yoga experience
              possible. When we're finished, you can expect daily yoga workouts
              delivered through streaming video so you can participate anytime,
              anywhere. All of this for the price of a couple cups of coffee a
              month. Better yet, we'll give a portion of our profits to help
              those in need.
            </p>
            <!-- <h1>Get Your Yogadose</h1> -->
          </div>
        </div>
        <%= partial 'signup' %>
      </div><!-- .signup -->
    </div>
  </div><!-- .row -->
</section><!-- .intro -->

<section class="mission">
  <div class="row">
    <div class="col-md-6">
      <div class="pre-header">Our Mission:</span>
      <h1>Be Well. Do Well.</h1>
      <p>
        We donate one day of food and supplies to a child in need for every
        subscriber (that's the plan at least) through a charitable organization.
        You get stronger and more healthy while offering a helping hand to
        someone in need.
      </p>
    </div>
    <div class="col-md-6"></div>
  </div>
</section><!-- .mission -->

<section class="product">
  <div class="row">
    <div class="col-md-12">
      <div class="pre-header">Our Service:</span>
      <h1>Daily Yoga Routines <span class="except-mobile">- Anytime, Anywhere</span></h1>
      <div class="post-header">Workouts Added Weekly - 20 Minutes on Average</div>
      <%= image_tag 'https://s3.amazonaws.com/yogadose-web/public/daily-online-yoga-workouts.jpg' %>
    </div>
  </div><!-- .row -->
</section><!-- .product -->
